This is the framework to host winston and any other AI language models I'll be developing..



Also, My Dad's bankruptcy case with the county/Al happened this morning. The court found the bankruptcy to be illigitimate and re-opened the case. Unfortunatly, this just makes it possible for the county to re-open the case and approve the title sent to my Dad.


This means the case will now go to the county to pursue distribution of the property to My Dad. This case will be heard mid February.

We will likely win the case in February. At that time, we'll initiate the suit of ejectment which will take another 30 days before we can have Al's assets removed from the property.
